PUBLIC_SUPABASE_URL="your-supabase-url"
PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"

PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
PUBLIC_CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

GROQ_API_KEY="your-groq-api-key"
